html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch; /* Safari iOS < 16 fallback */
  overscroll-behavior-y: none; /* Modern browsers */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
